# directories
.coverage_artifacts
.coverage_cache
.coverage_contracts
build
cache
coverage
deployments
dist
node_modules
typechain
types
imported
generated
*/sdk/test/integration/*.test.ts
!configs/src/deployments/
!configs/src/test/unit/deployments/

contracts/docs/templates/contract.hbs
contracts/docs/templates/page.hbs

configs/src/docs/templates/contract.hbs
configs/src/docs/templates/page.hbs



# files
*.env
*.log
.DS_Store
.pnp.*
coverage.json
package-lock.json
pnpm-lock.yaml
yarn.lock
