name: Publish

on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string
      version:
        required: true
        type: string
    secrets:
      NPM_TOKEN:
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ inputs.package != '' && inputs.version != '' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: 'develop'
          fetch-depth: 0 # fetch all history
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          cache: 'yarn'
          node-version: 18.x
          registry-url: https://registry.npmjs.org
      - name: Install deps
        working-directory: ./${{ inputs.package }}
        run: yarn install --frozen-lockfile
      - name: Publish NPM pkg (${{ inputs.package }} - ${{ inputs.version }})
        run: yarn publish --no-git-tag-version --new-version ${{ inputs.version }}
        working-directory: ./${{ inputs.package }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - name: Setup Python environment
        uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - name: Generate release notes
        id: release_notes
        run: ./.github/scripts/generate_release_notes.sh ${{ inputs.package }}
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          package: ${{ inputs.package }}
          version: ${{ inputs.version }}
        run: |
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="$package - $version" \
              --notes="$RELEASE_NOTES"
