name: Subgraph Tests

on:
  push:
    branches:
      - main
      - develop
  workflow_dispatch:
  workflow_call:
  pull-request:
    paths:
      - 'contracts/**'
      - 'subgraph/**'
      - '.github/workflows/subgraph-*.yml'
      
jobs:
  formatting-linting:
    uses: ./.github/workflows/formatting-linting.yml
  tests:
    runs-on: 'ubuntu-latest'
    defaults:
      run:
        working-directory: subgraph
    steps:
      - name: 'Check out the repo'
        uses: 'actions/checkout@v3'

      - name: 'Install Node.js'
        uses: 'actions/setup-node@v3'
        with:
          cache: 'yarn'
          node-version: 18

      - name: 'Install the dependencies'
        run: 'yarn install --frozen-lockfile'

      - name: 'Test the subgraph'
        run: 'yarn test >> $GITHUB_STEP_SUMMARY'
